.header {
  background-color: rgb(53, 53, 56);
  color: white;
  display: flex;
  width: 100%;
  height:40px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  user-select: none;
  z-index: 9999;
}

.div2{
  display: flex;
  justify-content: end;
  flex-shrink: 0;
}

.home-link,.div1 {
  font-family: tiny5,Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-right: 15px;
  cursor: pointer;
  transition:color .3s;
  flex-shrink: 0;
}

.div1:hover,.home-link:hover, .link:hover{
  color:rgb(123, 128, 128);
}

.link{
  transition: color .3s;     
}