.container{
  width:95%;
  background: rgb(88,88,93);
  background: linear-gradient(90deg, rgba(88,88,93,1) 0%, rgba(66,66,66,1) 41%, rgba(107,112,113,1) 100%);
  border-radius: 8px;
  border: 3px solid white;
  max-width: 1000px;
  margin: 6% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.album-info{
  width:98%;
  padding: 45px 0;
  background: rgb(103,102,102);
  background: linear-gradient(90deg, rgba(103,102,102,1) 16%, rgba(71,70,70,1) 36%, rgba(30,30,31,1) 75%);
  border-radius: 8px;
  margin: 10px 10px;
  display:flex;
  align-items:center;
}

.album-image{
  position: relative;
  cursor: pointer;
  width: 200px;
  height: 200px;
  min-width: 200px;
  max-width: 210px;
  margin:0 10px;
  border-radius: 8px;
  border: 2px solid white;
}

.album-details{
  display: inline;
  max-width: 530px;
  vertical-align: top;
}

.album-art{
  border-radius: 8px;
  width:100%;
  height: 100%;
  
}

.link{
  transition:color .3s;      }

.album-details div{
  color:white;
  
  margin-bottom:2px ;
  font-family: Poppins;
}

.album-no{
  font-size: 40px;
  font-family: poppins;
  font-weight: 600;
}

.album-title{
  font-size: 30px;
  width:100%;
  white-space: nowrap;  
  overflow: hidden; 
  text-overflow: ellipsis;  
}

.album-artist{
  font-size: 25px;
}

.other-info{
  font-size:20px;
}

h2{
  text-align: center;
  text-decoration: underline;
}



.album-other-infos{
  opacity: 0;
  transition: all ease-in-out 0.6s;
}

.album-review p{
  margin-left: 11px;

}

.album-option-text{
  margin: 0;

}   

.album-other-infos.after{
  opacity: 1;
}

.spotify-logo{
  width:20%;
}



.links-container{
  border:1px solid rgb(255, 255, 255);
  border-radius: 8px;
  width: 15%;
  opacity: 0;
  pointer-events: none;
  transition: all ease-in-out 0.6s;
  margin:auto;
}



.spotify-logo-container, .listen-here-text-container{
  display: flex;
  padding:5px 0;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.spotify-logo-container a{
  display: flex;
  align-items: center;
  justify-content: center;
}

.listen-here-text{
  margin: 0;
  text-align: center;
}


.listen-here-text:hover {
  color:rgb(192, 192, 187);
  transition: all ease-in-out 0.1s;
}

.spotify-logo-container{
  border-bottom: 1px solid rgb(255, 237, 237);
}

.links-container.after{
  opacity: 1;
  pointer-events: initial;
}


@media(width<900px){
  .album-info{
    flex-direction: column;
    justify-content: space-between;
  }
  
  .album-details{
    margin-bottom: 15px;
  }

  .album-image{
    margin:5px 20px;
  }

  .album-no{
    font-size: 33px;
  }
  
  .album-title{
    font-size: 28px;
  }
  
  .album-artist{
    font-size: 24px;
  }
  
  .other-info{
    font-size:20px;
  }

  .spotify-logo{
    width: 50%;
    border: 2px solid white;
    border-radius: 10%;
    background-color: black;
  }

  .links-container{
    border: none;
  }

  .spotify-logo-container{
    border:none;
  }
  .listen-here-text-container{
    display: none;
    cursor: none;
    border: none;
  }
  

}


