body{
  background-image: url(../../thumbnails/cool-background.png);
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Poppins;
  color: white;
  min-height: 100vh;
}

h1{
  font-family: tiny5;
  margin-bottom: 0;
}

a{
  text-decoration: initial;
  color: inherit;
}

main{
  width:95%;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  gap:20px
}