body{
  background-image: url(../../thumbnails/cool-background.png);
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Poppins;
  color: white;
}

h1{
  margin-top: 50px;
  font-family: tiny5;
}