
body{
  background-color: brown;
}
.subscribe{
  background-color:rgb(200, 0, 0);
  color: white;
  border: none;
  height:36px;
  width: 105px;
  border-radius: 2px;
  margin-right: 8px;
  transition: opacity 0.15s;
  cursor: pointer;
}

.subscribe:hover{
  opacity: 0.8;
}

.subscribe:active{
  opacity: 0.5;
}

.creator-button{
  background-color: rgb(5, 5, 141);
  font-family:tiny5;
  width:250px;
  color:white;
  display: block;
  margin-top: 100px;
  margin-bottom: 100px;
  border-radius: 0px;
  height: 50px;
  font-size: 38px;
  border: solid black;
  cursor: pointer;
  transition: margin 0.3s,border-color 0.1s,background-color 1s, color 0.1s;
}

.creator-button:hover{
  background-color: black;
  color: white;
  border-color: blue;
  margin-top: 90px;
  margin-bottom: 110px;
}

.stretch{
  background-color: green;
  display: block;
  margin: 100px;
  border: none;
  color:white;
  padding-left: 15px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  padding-right: 15px;
  font-size: large;

  transition: padding 1s;

}

.no{
  background-color: green;
  border: none;
  margin-left: 10px;
  margin-right:10px;
  padding-left: 15px;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  padding-right: 15px;
  color:white;
  font-size: large;
  transition:margin 0.2s,padding 0.2s;
}

.no:hover{
  padding-left: 25px; 
  padding-right: 25px; 
  margin-right: 5px;
  margin-left: 5px;
}

.stretch:hover{
  padding-left:30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 30px;
}

.tweet-button{
  background-color: rgb(22, 140, 249);
  border:2px none rgb(22, 140, 249) ;
  border-radius: 20px;
  height: 35px;
  margin-top: 100px;
  width: 75px;
  display: block;
  color:white;
  cursor: pointer;
}

